@font-face {
    font-family: "Pixel Operator 8";
    src: url("../resources/fonts/PixelOperator8.ttf");
}

@font-face {
    font-family: "Pixeltype";
    src: url("../resources/fonts/Pixeltype.ttf");
}

@font-face {
    font-family: "8bitoperator";
    src: url("../resources/fonts/8bitoperator.ttf");
}

.root {
    -fx-background-image: url("../resources/tiles/summaryfullbg.png");
}

#summary3scene {
    -fx-background-image: url("../resources/tiles/pokedexfullbg3.png");
}

#infolabel {
    -fx-font-family: "Pixeltype";
    -fx-text-fill: #f8f8f8;
    -fx-font-size: 45;
    -fx-effect: dropshadow(gaussian, #a0a0a8, 0, 2, 1, 1);
}

#answerLabel {
    -fx-font-family: "Pixeltype";
    -fx-text-fill: #585050;
    -fx-font-size: 45;
    -fx-effect: dropshadow(gaussian, #a0a0a8, 0, 2, 1, 1);
}

#summary1 {
    -fx-background-image: url("../resources/tiles/summary1button.png");
}

#summary2 {
    -fx-background-image: url("../resources/tiles/summary2button.png");
}

#summary3 {
    -fx-background-image: url("../resources/tiles/summary3button.png");
}

#catch {
    -fx-background-image: url("../resources/tiles/catch.png");
}

#catch:hover {
    -fx-background-image: url("../resources/tiles/catchhover.png");
}

#summary1:hover {
    -fx-background-image: url("../resources/tiles/summary1buttonSel.png");
}

#summary2:hover {
    -fx-background-image: url("../resources/tiles/summary2buttonSel.png");
}

#summary3:hover {
    -fx-background-image: url("../resources/tiles/summary3buttonSel.png");
}

#summary1sel {
    -fx-background-image: url("../resources/tiles/summary1buttonSel.png");
}

#summary2sel {
    -fx-background-image: url("../resources/tiles/summary2buttonSel.png");
}

#summary3sel {
    -fx-background-image: url("../resources/tiles/summary3buttonSel.png");
}

#movebutton {
    -fx-background-image: url("../resources/tiles/movebutton.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
    -fx-font-family: "Pixeltype";
    -fx-text-fill: #f8f8f8;
    -fx-font-size: 45;
    -fx-effect: dropshadow(gaussian, #a0a0a8, 0, 2, 1, 1);
}

#movebutton:hover {
    -fx-background-image: url("../resources/tiles/movebuttonHover.png");
}

#backbutton {
    -fx-background-image: url("../resources/tiles/back.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
}

#backbutton:hover {
    -fx-background-image: url("../resources/tiles/backhover.png");
}

#summary3label {
    -fx-font-family: "Pixeltype";
    -fx-text-fill: #222222;
    -fx-font-size: 35;
}

#description {
    -fx-font-family: "8bitoperator";
    -fx-text-fill: #ffffff;
    -fx-font-size: 12;
}

#attributeslabel {
    -fx-font-family: "8bitoperator";
    -fx-text-fill: #222222;
    -fx-font-size: 11;
}