@font-face {
    font-family: "Pixel Operator 8";
    src: url("../resources/fonts/PixelOperator8.ttf");
}

.root {
    -fx-background-image: url("../resources/tiles/pokedexfullbg.png");
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
  }

.scroll-pane {
    -fx-background-color:transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
	-fx-background-color: transparent;
}

.increment-button, decrement-button {
	-fx-background-color: transparent;
}

.scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-image: url("../resources/tiles/fullscrollbarTrack.png");
	-fx-background-repeat: no-repeat no-repeat;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: transparent;
	-fx-background-image: url("../resources/tiles/scrollbarThumb.png");
	-fx-background-size: contain;
}

#pokemonbuttons {
    -fx-background-image: url("../resources/tiles/pokedexButton.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-font-family: "Pixel Operator 8";
    -fx-text-fill: #f8f8f8;
    -fx-font-size: 12;
}

#pokemonbuttons:hover {
    -fx-background-image: url("../resources/tiles/pokedexButtonSelected.png");
}

#trainerbutton {
    -fx-background-image: url("../resources/tiles/trainerbutton.png");
    -fx-background-repeat: no-repeat no-repeat;
}

#trainerbutton:hover {
    -fx-background-image: url("../resources/tiles/trainerbuttonhover.png");
}

#exit {
    -fx-background-image: url("../resources/tiles/exit.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
}

#exit:hover {
    -fx-background-image: url("../resources/tiles/exithover.png");
}

#searchbutton {
    -fx-background-image: url("../resources/tiles/searchbutton.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
}
#searchbutton:hover {
    -fx-background-image: url("../resources/tiles/searchbuttonhover.png");
}