@font-face {
    font-family: "8bitoperator";
    src: url("../resources/fonts/8bitoperator.ttf");
}

.root {
    -fx-background-image: url("../resources/tiles/trainerprofile.png");
}

#redicon {
    -fx-image: url("../resources/tiles/redicon.png");
}

#hilberticon {
    -fx-image: url("../resources/tiles/hilberticon.png");
}

#elioicon {
    -fx-image: url("../resources/tiles/elioicon.png");
}

#leaficon {
    -fx-image: url("../resources/tiles/leaficon.png");
}

#hildaicon {
    -fx-image: url("../resources/tiles/hildaicon.png");
}

#moonicon {
    -fx-image: url("../resources/tiles/moonicon.png");
}

#profileinfo {
    -fx-font-family: "8bitoperator";
    -fx-text-fill: white;
    -fx-font-size: 11;
}

#profilebutton {
    -fx-background-image: url("../resources/tiles/profilebuttons.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-font-family: "8bitoperator";
    -fx-text-fill: white;
    -fx-font-size: 13;
}

#profilebutton:hover {
    -fx-background-image: url("../resources/tiles/profilebuttonshover.png");
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
  }

.scroll-pane {
    -fx-background-color:transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
	-fx-background-color: transparent;
}

.increment-button, decrement-button {
	-fx-background-color: transparent;
}

.scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-image: url("../resources/tiles/fullscrollbarTrack.png");
	-fx-background-repeat: no-repeat no-repeat;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: #90e818;
        -fx-border-width: 3;
        -fx-border-color: #488018;
}

#exit {
    -fx-background-image: url("../resources/tiles/exit.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
}

#exit:hover {
    -fx-background-image: url("../resources/tiles/exithover.png");
}