@font-face {
    font-family: "8bitoperator";
    src: url("../resources/fonts/8bitoperator.ttf");
}

.root {
    -fx-background-image: url("../resources/tiles/searchbg.png");
    -fx-background-repeat: no-repeat no-repeat;
}

.radio-button {
    -fx-font-family: "8bitoperator";
    -fx-text-fill: #ffffff;
    -fx-font-size: 10;
}

.radio-button .radio {
    -fx-background-image: url("../resources/tiles/checkmark.png");
    -fx-background-color: transparent;
}

.radio-button:selected .radio {
    -fx-background-image: url("../resources/tiles/checkmarksel.png");
}

.radio-button .dot {
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: transparent;
    -fx-font-family: "8bitoperator";
    -fx-text-fill: black;
    -fx-font-size: 15;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
  }

.scroll-pane {
    -fx-background-color:transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
	-fx-background-color: transparent;
}

.increment-button, decrement-button {
	-fx-background-color: transparent;
}

.scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-image: url("../resources/tiles/fullscrollbarTrack.png");
	-fx-background-repeat: no-repeat no-repeat;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: #90e818;
        -fx-border-width: 3;
        -fx-border-color: #488018;
}

#resultbutton {
    -fx-background-image: url("../resources/tiles/resultsbutton.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
    -fx-font-family: "Pixel Operator 8";
    -fx-text-fill: #f8f8f8;
    -fx-font-size: 12;
}

#resultbutton:hover {
    -fx-background-image: url("../resources/tiles/resultsbuttonhover.png");
}

#back {
    -fx-background-image: url("../resources/tiles/back.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
}

#back:hover {
    -fx-background-image: url("../resources/tiles/backhover.png");
}

#ghp {
    -fx-background-image: url("../resources/tiles/ghbg");
    -fx-background-repeat: repeat repeat;
}