@font-face {
    font-family: "8bitoperator";
    src: url("../resources/fonts/8bitoperator.ttf");
}

.root {
    -fx-background-image: url("../resources/tiles/trainerbg.png");
    -fx-background-repeat: no-repeat no-repeat;
}

#infotitle {
    -fx-font-family: "8bitoperator";
    -fx-text-fill: #ffffff;
    -fx-font-size: 10;
}

#infoanswer {
    -fx-font-family: "8bitoperator";
    -fx-text-fill: #ffffff;
    -fx-font-size: 9;
}

#trainersave {
    -fx-background-image: url("../resources/tiles/trainersavebutton1.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
    -fx-font-family: "8bitoperator";
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
}

#notrainersave {
    -fx-background-image: url("../resources/tiles/trainersavebutton.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
    -fx-font-family: "8bitoperator";
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
}

#trainersave:hover {
    -fx-background-image: url("../resources/tiles/trainersavebutton1hover.png");
}

#notrainersave:hover {
    -fx-background-image: url("../resources/tiles/trainersavebuttonhover.png");
}

#register {
    -fx-background-image: url("../resources/tiles/trainerpopup.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
}

#registerfield {
    -fx-background-color: white;
    -fx-font-family: "8bitoperator";
    -fx-text-fill: black;
    -fx-font-size: 15;
}

#redicon {
    -fx-background-image: url("../resources/tiles/redicon.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
}

#hilberticon {
    -fx-background-image: url("../resources/tiles/hilberticon.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
}

#elioicon {
    -fx-background-image: url("../resources/tiles/elioicon.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
}

#leaficon {
    -fx-background-image: url("../resources/tiles/leaficon.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
}

#hildaicon {
    -fx-background-image: url("../resources/tiles/hildaicon.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
}

#moonicon {
    -fx-background-image: url("../resources/tiles/moonicon.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
}

#redicon:focused{
    -fx-background-image: url("../resources/tiles/rediconsel.png");
}

#hilberticon:focused {
    -fx-background-image: url("../resources/tiles/hilberticonsel.png");
}

#elioicon:focused {
    -fx-background-image: url("../resources/tiles/elioiconsel.png");
}

#leaficon:focused {
    -fx-background-image: url("../resources/tiles/leaficonsel.png");
}

#hildaicon:focused {
    -fx-background-image: url("../resources/tiles/hildaiconsel.png");
}

#moonicon:focused {
    -fx-background-image: url("../resources/tiles/mooniconsel.png");
}

#registerconfirm {
    -fx-background-image: url("../resources/tiles/confirmregister.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
}

#registerconfirm:hover {
    -fx-background-image: url("../resources/tiles/confirmregisterhover.png");
}

#trainerinfo {
    -fx-font-family: "8bitoperator";
    -fx-text-fill: white;
    -fx-font-size: 10;
}

#trainerinfoanswer {
    -fx-font-family: "8bitoperator";
    -fx-text-fill: white;
    -fx-font-size: 9;
}

#back {
    -fx-background-image: url("../resources/tiles/back.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-color: transparent;
}

#back:hover {
    -fx-background-image: url("../resources/tiles/backhover.png");
}